  body {
    background-color: #f5eee6;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #c86b85;
    border-width: 5px;
    width: 7%;
  }

  h1 {
    color: #d45079;
  }

  h3 {
    color: #c86b85;
  }
